{% extends 'base.html' %}
{% block title %}Мой кабинет | Global Estate{% endblock %}

{% block content %}
<div class="property-container">

    <h2 class="mb-4">👤 Мои объявления</h2>
    <a href="{% url 'property_list' %}" class="btn btn-outline-secondary mb-3">← На главную</a>
    <a href="{% url 'add_property' %}" class="btn btn-green mb-4">➕ Добавить объект</a>


    {% if properties %}
        <div class="row">
            {% for property in properties %}
                {% include "listings/includes/property_card.html" %}
            {% endfor %}

        </div>
    {% else %}
        <p>У вас пока нет объявлений. Добавьте своё первое!</p>
    {% endif %}
</div>
{% endblock %}
